@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: black;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-box:hover .p {
  top: 0;
}

.p {
  transition: 0.5s all;
}

.banner-astronout {
  position: absolute;
  animation: astronout 2s infinite alternate linear;
  -webkit-animation: astronout 4s infinite alternate linear;
  width: 400px;
}

.banner-astronout1 {
  position: absolute;
  animation: astronout1 2s infinite alternate linear;
  -webkit-animation: astronout1 4s infinite alternate linear;
  width: 300px;
}

@keyframes astronout1 {
  0% {
    left: 90%;
    top: 25%;
  }

  100% {
    left: 75%;
    top: 30%;
  }
}

@keyframes astronout {
  0% {
    left: 60%;
    top: 45%;
  }

  100% {
    left: 50%;
    top: 35%;
  }
}

.bla {
  transition: transform ease 0.5s;
  padding: 0 10px;
  font-family: "Oswald-Regular";
}
.bla:hover {
  transform: scale(1.2);
  color: #ffb86c;
}

.navbar__link {
  font-size: 22px;
  font-family: "Oswald-Regular";
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-indent: 0.3em;
  border-bottom: 3px solid transparent;
}

.navbar__link::after {
  transition: all ease-in-out 0.2s;
  background-color: #fa7d22;
  content: "";
  display: block;
  margin-top: 3px;
  height: 3px;
  width: 0;
}

.navbar__link:hover::after {
  visibility: visible;
  width: 40%;
}

.navbar__link--active::after {
  transition: all ease-in-out 0.2s;
  width: 100%;
}

.navbar__link--active:hover::after {
  width: 100%;
}
/* .section-content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
} */
